@import '~@angular/material/theming';

.location-link {
  padding: 10px 0;
  background: #ddd;
  margin-bottom: 16px;

  h5 {
    word-wrap: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Lato","Helvetica","Arial",sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: center;
    a {
      color: #666;
      font-weight: bold;
      text-decoration: none;

      &:visited {
        color: #666;
      }
    }
  }
}

.card {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 0;
  font-family: "Lato","Helvetica","Arial",sans-serif;
  color: #000;

  .footer-location {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 4px;
  }

  .footer-link {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    margin-bottom: 4px;
  
    a {
      font-family: "Lato","Helvetica","Arial",sans-serif;
      color: #0a0a0a;
      font-size: 14px;
      font-weight: normal;
      padding: 0;
      margin: 0;
      margin: 0;
      text-align: left;
      line-height: 1.6;
      color: #009bc5;
      font-weight: bold;
      text-decoration: none;
    }
    
    .info-icon {
      width: 14px;
      height: auto;
      margin-right: 5px;
    }
  }
}

#social-links {
  margin-bottom: 16px;

  .instagram {
    background: #125688;
  }

  .facebook {
    background: #3b5998;
  }

  .twitter {
    background: #00acee;
  }


  .button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 33.33%;
    padding: 8px 16px 8px 16px;
    border: 0 solid #00b3e3;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    
    img {
      height: 16px;
      margin-right: 2px;
    }
    span {
      font-family: "Lato","Helvetica","Arial",sans-serif;
      font-size: 11px;
      line-height: 14px;
      height: 14px !important;
      font-weight: bold;
      margin-top: -3px;
    }
  }
}
