.app-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.example-container {
  min-height: calc(100vh - 64px);
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}