.app-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.home-btn {
  cursor: pointer;

  .mat-icon {
    display: none;
    // margin-right: 8px;
  }

  &:hover .mat-icon {
    display: flex;
  }
}

.app-content {
  min-height: 100vh;
  height: 100%;
  margin-top: 64px;
}

.spacer {
  flex: 1 1 auto;
}

.profile {
  height: 36px;
  width: 36px;
  background-color: transparent;
  
  ::ng-deep .mat-button-wrapper {
    height: 36px;
    width: 36px;
    padding: 0;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}