<div 
  [ngClass]="{ card: true, selected: (activeId$ |async) === component.id }"
  [ngStyle]="{ 'margin-bottom.px': component.marginBottom ? 16 : 0 }"
>
  <div class="card-body" (click)="screenSize !== 'mobile' ? onCardClick($event) : null">
    <div *ngIf="(activeId$ |async) === component.id" class="selected-icon">
      <button mat-fab flat color="white" class="mat-elevation-z0">
        <mat-icon color="primary">check</mat-icon>
      </button>
    </div>

    <div class="card-actions">
      <button mat-mini-fab [matMenuTriggerFor]="actionMenu" class="card-actions__menu-btn mat-elevation-z0">
        <mat-icon color="black">more_vert</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu" xPosition="before">
        <div fxLayout="column">
          <button
            mat-button
            color="accent"
            class="edit-btn"
            (click)="onClickEdit()"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon aria-label="Edit Card">edit</mat-icon>
              <span>Edit Card</span>
            </div>
          </button>
          <button
            mat-button
            color="primary"
            class="save-btn"
            (click)="onClickSave()"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon aria-label="Save Card">save</mat-icon>
              <span>Save Card</span>
            </div>
          </button>

          <button
            mat-button
            color="warn"
            class="delete-btn"
            (click)="onClickDelete()"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon aria-label="Delete Card">delete</mat-icon>
              <span>Delete Card</span>
            </div>
          </button>

          <button
            *ngIf="index > 0"
            mat-button
            class="move-btn"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon aria-label="Move Card Down">arrow_upward</mat-icon>
              <span>Move Up</span>
            </div>
          </button>

          <button
            mat-button
            class="move-btn"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon aria-label="Move Card Down">arrow_downward</mat-icon>
              <span>Move Down</span>
            </div>
          </button>
        </div>
      </mat-menu>
    </div>

    <!-- IMG -->
    <img
      width="100%"
      height="360px"
      *ngIf="component.options?.includes('image')"
      [src]="component.image || 'https://via.placeholder.com/580x320'">
    <!-- IMG -->
  
    <!-- CONTENT -->
    <ed-email-text
      *ngIf="component.options?.includes('text')"
      [title]="component.title"
      [titleAlignment]="component.titleAlignment"
      [titleCase]="component.titleCase"
      [subtitle]="component.subtitle"
      [text]="component.text"
      [textAlignment]="component.textAlignment"
      [paddingTop]="component.paddingTop"
    ></ed-email-text>
    <!-- CONTENT -->
  
    <!-- CTA -->
    <ed-email-button
      *ngIf="component.options?.includes('button')"
      [link]="component.link"
      [text]="component.buttonText"
      [paddingBottom]="component.paddingBottom"
    ></ed-email-button>
    <!-- CTA -->
  </div>
</div>