<div class="inner" [ngStyle]="{ 'padding-top.px': paddingTop }">
  <h4
    class="title"
    [ngStyle]="{ 'text-align': titleAlignment, 'text-transform': titleCase }"
  >
    {{ titleCase === 'none' ? title : title.toLowerCase() || 'Lorem Ipsum' }}
  </h4>
  <h5
    *ngIf="subtitle"
    [ngStyle]="{ 'text-align': titleAlignment, 'text-transform': titleCase }"
  >
    {{ subtitle }}
  </h5>
  <p 
    *ngFor="let t of text"
    class="text"
    [ngStyle]="{ 'text-align': textAlignment }"
    [innerHtml]="t | detectLinks"
  ></p>
</div>
